<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- MATERIALIZE UI Framework -->
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <!--MDL UI Framework  -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-indigo.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
  <!-- Navigation bar IF LOGGED IN -->
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <!-- Navigation -->
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">genNYC</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </header>

  <!-- Main content -->
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
