{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<h2>Login</h2>

<div>

  <form action="" method="post" style="width:80%;margin-left:auto;margin-right:auto;">
    <input type="text" placeholder="Username" name="username" value="{{
      request.form.username }}" required>
     <input type="password" placeholder="Password" name="password" value="{{
      request.form.password }}" required>
    <input class="btn btn-default" type="submit" value="Login">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

</div>


{% endblock %}
