{% macro render_field(field) %}

{% if field.errors %}
<div class="form-group has-error">
{{ field.label(class="control-label", for=field.name) }}
{{ field(**kwargs)|safe }}

{% for error in field.errors %}
<span class="error" style="color: #ec5840;">{{ error|e }}</span>
{% endfor %}
</div>

{% else %}
	{% if field.type == 'BooleanField' %}
		<div class="form-group">
		{{ field(**kwargs) }} {{ field.label(class="control-label", for=field.name) }}
		</div>
    {% elif field.type == 'DateField' %}
        <div class="form-group">
		{{ field.label(class="control-label", for=field.name) }}<br>
		{{ field(type="datetime-local", **kwargs) }}
		</div>
    {% elif field.type == 'IntegerField' %}
        <div class="form-group">
		{{ field.label(class="control-label", for=field.name) }}<br>
		{{ field(type="number", **kwargs) }}
		</div>
	{% else %}
		<div class="form-group">
		{{ field.label(class="control-label", for=field.name) }}<br>
		{{ field(**kwargs) }}
		</div>
	{% endif %}

{% endif %}
<br>
{% endmacro %}
